{% load static %}

<!-- CodeMirror CSS -->
<link rel="stylesheet" href="{% static 'vendor/codemirror/codemirror.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/codemirror/theme/monokai.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/codemirror/theme/eclipse.min.css' %}">
<link rel="stylesheet" href="{% static 'css/codeEditor.css' %}">

<!-- CodeMirror JS -->
<script src="{% static 'vendor/codemirror/codemirror.min.js' %}"></script>

<!-- Mode dependencies -->
<script src="{% static 'vendor/codemirror/mode/xml/xml.min.js' %}"></script>
<script src="{% static 'vendor/codemirror/mode/clike/clike.min.js' %}"></script>

<!-- Language modes -->
<script src="{% static 'vendor/codemirror/mode/python/python.min.js' %}"></script>
<script src="{% static 'vendor/codemirror/mode/javascript/javascript.min.js' %}"></script>
<script src="{% static 'vendor/codemirror/mode/php/php.min.js' %}"></script>
<script src="{% static 'vendor/codemirror/mode/sql/sql.min.js' %}"></script>

<!-- Custom Code Editor -->
<script src="{% static 'js/codeEditor.js' %}"></script>